.section-about {
  background-color: #FFFFFF;
  &__container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    padding: 80px 215px 100px;
    box-sizing: border-box;
  }
  &__image {
    background-image: url('../../assets/img/about-pets.png');
    width: 300px;
    height: 408px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 380px;
    row-gap: 25px;
    &-h3 {
      @include font_h3;
      width: 370px;
      height: 90px;
    }
    &-description {
      color: #4C4C4C;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
    }
  }
}

@media (max-width: 768px) {
  .section-about {
    &__container {
      width: 768px;
      flex-direction: column-reverse;
      row-gap: 80px;
    }
  }
}

@media (max-width: 320px) {
  .section-about {
    &__container {
      width: 320px;
      padding: 0;
      padding-top: 48px;
      padding-bottom: 42px;
    }
    &__image {
      background-size: contain;
      width: 260px;
      height: 353px;
      margin-top: 75px;
    }
    &__content {
      width: 300px;
      &-h3 {
        font-size: 25px;
        letter-spacing: 0.06em;
        text-align: center;
        width: 300px;
      }
      &-description {
        width: 270px;
        margin: 0 auto;
        line-height: 160%;
        text-align: justify;
      }
    }
  }
}