@mixin font-footer-p {
  color: #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

@mixin flex-for-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.footer {
  background: url('../../assets/img/noise_transparent@2x.png'),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  &__container {
    width: 1280px;
    margin: 0 auto;
    padding: 40px 40px 0;
    box-sizing: border-box;
  }
  &__content {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 160px;
    &-contacts-email {
     @include flex-for-block;
      &-svg {
        background: url('../../assets/svg/mail.svg');
        width: 40px;
        height: 26px;
      }
      &-text {
        @include font-footer-p;
      }
    }
    &-contacts-phone {
      @include flex-for-block;
      &-svg {
        background: url('../../assets/svg/phone.svg');
        width: 40px;
        height: 32px;
      }
      &-text {
        @include font-footer-p;
      }
    }
    &-locations-boston {
      @include flex-for-block;
      &-svg {
        background: url('../../assets/svg/pin.svg');
        width: 22px;
        height: 32px;
      }
      &-text {
        @include font-footer-p;
      }
    }
    &-locations-london {
      @include flex-for-block;
      &-svg {
        background: url('../../assets/svg/pin.svg');
        width: 22px;
        height: 32px;
      }
      &-text {
        @include font-footer-p;
      }
    }
    &-contacts, &-locations {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 234px;
      padding-top: 16px;
    }
    &-contacts {
      width: 279px;
    }
    &-locations {
      width: 302px;
    }
    &-contacts-h3, &-locations-h3 {
      @include font_h3;
      color: #FFFFFF;
      height: 90px;
    }
    &-image {
      background: url('../../assets/img/footer-puppy.png');
      width: 300px;
      height: 310px;      
    }
  }
}