.header__container-group {
  background: url('../../assets/img/noise_transparent@2x.png'), 
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  .header__container-wrapper {
    width: 1280px;
    box-sizing: border-box;
    // height: 908px; //
    margin: 0 auto;
    padding: 30px 40px 0;
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & a:hover {
    color: #FFFFFF; //li
    transition: 0.5s all ease;
  }
  .logo-title {
    // width: 188px;
    // height: 64px;
    &__title {
      color: #F1CDB3;
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
      margin-bottom: 10px;
      letter-spacing: 0.06em;
      align-items: center;
      transition: 0.5s all ease;
    }
    a:hover h1 {
      color: #FFFFFF; // logo span
      transition: 0.5s all ease;
    }
    &__subtitle {
      color: #FFFFFF;
      font-family: 'Arial';
      font-size: 13px;
      line-height: 15px;
      align-items: center;
      letter-spacing: 0.1em;
    }
  }
  &__container {
    width: 94vw; //94vw; //changed, 1200px before
    // height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__container-nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 443px;
    li a{
      color: #CDCDCD;
      transition: 0.5s all ease;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
    }
    .active-li {
      color: #FAFAFA;
      border-bottom: 3px solid #F1CDB3;
    }
  }
}

.section-notonly {
  display: flex;
  flex-direction: row;
  column-gap: 42px;
  margin-top: 90px;
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    width: 36vw; // c,b 460px
    min-height: 322px; //c, b just height
    margin-top: 163px;
    &-h2 {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 44px;
      line-height: 130%;
      color: #FFFFFF;
      text-align: left;
      width: 310px;
      height: 114px;
    }
    &-description {
      font-family: 'Arial';
      font-size: 15px;
      line-height: 160%;
      color: #CDCDCD;
    }
    &-button {
      background: #F1CDB3;
      width: 207px;
      height: 52px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s all ease;
      &:hover {
        background-color: #FDDCC4;
      }
      &_description {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
      }
    }
  }
  &__image {
    background-image: url('../../assets/img/start-screen-puppy.png');
    height: 728px;
    width: 54vw; // 54vw
  }
}

.header__container-nav_burger {
  display: none;
}

@media (max-width: 768px) {
  .header__container-group {
    width: 100%;
    .header__container-wrapper {
    width: 768px;
    padding: 30px 30px 0 30px;
    }
  }
  .header {
    &__container {
      width: 708px;
    } 
  }

  .section-notonly {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    margin-top: 60px;
    &__content {
      margin-top: 0;
      width: 460px;
      &-button {
        align-self: center;
      }
    }
    &__image {
      background-image: url('../../assets/img/start-screen-puppy-768px.png');
      width: 569px;
      height: 593px;
      align-self: flex-end;
    }
  }
}

@media (max-width: 320px) {
  .header__container-group {
    width: 100%;
    .header__container-wrapper {
    width: 320px;
    padding: 30px 20px 0 20px;
    }
  }
  .header__container {
    align-items: center;
    &-nav_list {
      display: none;
    }
    &-nav_burger {
      display: block;
        &-line {
          display: block;
          background-color: #F1CDB3;
          width: 30px;
          height: 2px;
          margin-bottom: 10px;
        }
        &-line:last-child {
          margin-bottom: 0;
        }
    }
  }
  .section-notonly__content {
    width: 300px;
    min-height: 0px;
    &-h2 {
      font-size: 25px;
      height: 64px;
      width: 300px;
      text-align: center;
      letter-spacing: 0.06em;
    }
    &-description {
      text-align: center;
    }
  }
  .section-notonly__image {
    width: 260px;
    height: 271px;
    background-size: cover;
  }
}